doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Applicant Information
    link(rel="stylesheet" href="style.css")

  body
    .header-container
      h1 Applicant Information
      h2 #{firstName} #{lastName}
      h3 Position Applied For: #{position}
      // img.logo(src="path/to/logo.png" alt="Company Logo")

    .subpage-subtitle
      h2 Personal Information
    div
      p Name: #{firstName} #{middleName} #{lastName}
      p Address: #{address}, #{city}, #{state}, #{zip}
      p Phone: #{phone}
      p Email: #{email}
      p Legal to work in the U.S.: #{legal}
      p Veteran: #{veteran}
      p Background Check: #{background}

    .subpage-subtitle
      h2 Desired Position
    div
      p Position: #{position}
      p Start Date: #{startDate}
      p Desired Salary: #{salary}
      p Employment Type: #{employment}

    .subpage-subtitle
      h2 Education
    div
      p School: #{schoolName1} - #{schoolLocation1}, #{year}
      p Degree: #{degree}
      p Major: #{major1}
      if schoolName2 && schoolLocation2
        p School: #{schoolName2} - #{schoolLocation2}, #{year}
        p Degree: #{degree}
        p Major: #{major2}
      if schoolName3 && schoolLocation3
        p School: #{schoolName3} - #{schoolLocation3}, #{year}
        p Degree: #{degree}
        p Major: #{major3}
      if schoolName4 && schoolLocation4
        p School: #{schoolName4} - #{schoolLocation4}, #{year}
        p Degree: #{degree}
        p Major: #{major4}
      if schoolName5 && schoolLocation5
        p School: #{schoolName5} - #{schoolLocation5}, #{year}
        p Degree: #{degree}
        p Major: #{major5}
      else
        p No education provided

    .subpage-subtitle
      h2 References
    .reference-history
    div
      if referenceName1 && referenceTitle1 && referenceCompany1 && referencePhone1
        div
         p Reference 1: #{referenceName1} - #{referenceTitle1}, #{referenceCompany1}, #{referencePhone1}
      if referenceName2 && referenceTitle2 && referenceCompany2 && referencePhone2
        div
         p Reference 2: #{referenceName2} - #{referenceTitle2}, #{referenceCompany2}, #{referencePhone2}
      if referenceName3 && referenceTitle3 && referenceCompany3 && referencePhone3
        div
          p Reference 3: #{referenceName3} - #{referenceTitle3}, #{referenceCompany3}, #{referencePhone3}
      if referenceName4 && referenceTitle4 && referenceCompany4 && referencePhone4
       div
          p Reference 4: #{referenceName4} - #{referenceTitle4}, #{referenceCompany4}, #{referencePhone4}
      if !referenceName1 && !referenceName2 && !referenceName3 && !referenceName4
        p No references provided

    .subpage-subtitle
      h2 Employment History
    .employment-history
    div
      if employerName1 && jobTitle1 && datesEmployed1 && employerAddress1
        div
          h3 #{employerName1}
          p Job Title: #{jobTitle1}
          p Dates Employed: #{datesEmployed1}
          p Starting Pay: #{startingPay1} - Ending Pay: #{endingPay1}
          p Address: #{employerAddress1}, #{employerCity1}, #{employerState1}, #{employerZip1}
      if employerName2 && jobTitle2 && datesEmployed2 && employerAddress2
        div
          h3 #{employerName2}
          p Job Title: #{jobTitle2}
          p Dates Employed: #{datesEmployed2}
          p Starting Pay: #{startingPay2} - Ending Pay: #{endingPay2}
          p Address: #{employerAddress2}, #{employerCity2}, #{employerState2}, #{employerZip2}
      if employerName3 && jobTitle3 && datesEmployed3 && employerAddress3
        div  
          h3 #{employerName3}
          p Job Title: #{jobTitle3}
          p Dates Employed: #{datesEmployed3}
          p Starting Pay: #{startingPay3} - Ending Pay: #{endingPay3}
          p Address: #{employerAddress3}, #{employerCity3}, #{employerState3}, #{employerZip3}
      if employerName4 && jobTitle4 && datesEmployed4 && employerAddress4
        div
          h3 #{employerName4}
          p Job Title: #{jobTitle4}
          p Dates Employed: #{datesEmployed4}
          p Starting Pay: #{startingPay4} - Ending Pay: #{endingPay4}
          p Address: #{employerAddress4}, #{employerCity4}, #{employerState4}, #{employerZip4}
      if employerName5 && jobTitle5 && datesEmployed5 && employerAddress5
        div
          h3 #{employerName5}
          p Job Title: #{jobTitle5}
          p Dates Employed: #{datesEmployed5}
          p Starting Pay: #{startingPay5} - Ending Pay: #{endingPay5}
          p Address: #{employerAddress5}, #{employerCity5}, #{employerState5}, #{employerZip5}
      if !employerName1 && !employerName2 && !employerName3 && !employerName4 && !employerName5
        p No employment history provided

    div
      h2 Applicant's Signature
    div
    .disclaimer
      p Printed Name: #{printedName}
      br
      p Date: #{date}
      br
      p Signature: #{signature}
